<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="face-api.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/faceDetectionControls.js"></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="face_recognition.css">
  </head>
  <body>
    <div class="main-container">
      <button id="start-camera">Iniciar camara</button>
      <video id="video" width="320px" height="240px" autoplay style="border:1px solid"></video>
      <button id="click-photo">Tomar foto</button>
      <canvas id="canvas" width="320" height="240" style="border:1px solid"></canvas>
      <img id="prueba">

      <button onclick="hacerTodo()">Enviar</button>
    </div>
    <script src="./faceRecognition.js"></script>
  </body>
</html>
