<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="regist.css" />
  </head>
  <body>
    <div class="main-container">
      <h1>Registro de usuario</h1>
      <label for="username">Nombre usuario</label>
      <input type="text" name="Nombre usuario:" id="username" />

      <label for="password">Contraseña:</label>
      <input type="password" name="Contraseña:" id="password" />

      <label for="conf-password">Confirmar contraseña:</label>
      <input type="password" name="Confirmar contraseña:" id="conf-password" />

      <button id="start-camera">Iniciar camara</button>
      <video id="video" width="320px" height="240px" autoplay style="border:1px solid"></video>
      <button id="click-photo">Tomar foto</button>
      <canvas id="canvas" width="320" height="240" style="border:1px solid"></canvas>

      <button onclick="saveImage()">Enviar</button>

      <button onclick="movoToIndex()">Salir</button>

      <script src="regist.js"></script>
    </div>
  </body>
</html>
